<h1>Add Hostel</h1>
<form action="/addHostels" method="post">
    <input type="text" name="name" placeholder="Hostel Name">
    <input type="text" name="number" placeholder="Hostel Number">
    <input type="number" name="single" placeholder="No. of single rooms">
    <input type="number" name="double" placeholder="No. of double rooms">
    <input type="number" name="triple" placeholder="No. of triple rooms">
    <input type="submit">
</form>