<h1>Add Warden</h1>
<form action="/addWarden/<%=hostel._id%>" method="post">
<input type="text" name="name" placeholder="name">
<input type="text" name="username" placeholder="username" value="warden@<%=hostel.number%>" readonly>
<input type="password" name="password" placeholder="password">
<input type="email" name="email" placeholder="Email">
<input type="number" name="mobileNo" placeholder="Mobile Number">
<input type="submit">
</form>