<h1>Admin Register</h1>
<form action="/adminRegister" method="post">
    <input type="text" name="name">
    <input type="text" name="username">
    <input type="password" name="password">
    <input type="submit">
</form>