<a href="/adminRegister">Admin Register</a><br>
<a href="/adminLogin">Admin Login</a><br>
<a href="/studentRegister">Student Register</a><br>
<a href="/studentLogin">Student Login</a><br>
<a href="/supervisorLogin">Supervisor Login</a><br>
<a href="/wardenLogin">Warden Login</a><br>