<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Notice Board</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="../index.css">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="style.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="../index.css">

<style>

body {
    background-color: #eee!important;
}
    /* For table */
    .table-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-table {
  border-collapse: collapse;
  width: 100%;
}

.centered-table th,
.centered-table td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}
</style>

</head>
<body>
<section class="navigation">
  <div class="nav-container" style="max-width:95%;">
    <div class="brand" style="padding:0px">
      <a href="#">Hostel Management System</a>
    </div>
    <nav>
      <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
    </nav>
  </div>
</section>

<div class="sidenav">
  <a href="/studentDashboard">Student's Dashboard</a>
  <a href="/complain">Register a Complaint</a>
  <a href="#">My complaints</a>
  <a href="#" class="active">Notice Board</a>
</div>

<main>
<article style="max-width:90%;">
  <h2>Notice Board</h2>
    <div class="table-container">
      <table class="centered-table">
        <thead>
          <tr>
            <th>Uploaded on</th>
            <th>Uploaded by</th>
            <th>Title</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td>20:23 PM 20/03/2023</td>
                <th>Hostel Supervisor</th>
                <td><a href="/notice/1">Mess bill for month of February 2023</a></td>
            </tr>
            <tr>
                <td>18:12 PM 20/03/2023</td>
                <th>Hostel Supervisor</th>
                <td><a href="/notice/2">Mess refund of 6th semester given</a></td>
            </tr>
            <tr>
                <td>13:05 PM 19/03/2023</td>
                <th>Hostel Warden</th>
                <td><a href="/notice/3">Installation of new water purifiers</a></td>
            </tr>
            <tr>
                <td>11:34 AM 18/03/2023</td>
                <th>Admin</th>
                <td><a href="/notice/4">In-time notice for boys and girls</a></td>
            </tr>
          
        </tbody>
      </table>
    </div>
</article>
</main>
<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="./indexScript.js"></script>

<script>
  // Get all links inside the side navigation menu
  var sidenavLinks = document.querySelectorAll('.sidenav a');
  
  // Loop through each link and add an event listener
  sidenavLinks.forEach(function(link) {
  link.addEventListener('click', function() {
  // Remove the 'active' class from all links
  sidenavLinks.forEach(function(link) {
  link.classList.remove('active');
  });
  
  // Add the 'active' class to the clicked link
  this.classList.add('active');
  });
  });
  </script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="../indexScript.js"></script>
  
  
  <!--Bootstrap-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="../indexScript.js"></script>

</body>
</html>
