<h1>Students Dashboard</h1>
<!-- <%=currentUser%> -->
<%if(currentUser.room.hostel!=null){ %>
    <a href="/complain">Register a complain</a>
    <a href="/myComplains">View Status of my complains</a>
<% }else{ %>
    You are not added to any Hostel yet
<% } %>


