<h1>Student Login</h1>
<form action="/studentLogin" method="post">
    <input type="text" name="scholarId" placeholder="Scholar Id">
    <!-- <input type="text" name="username" placeholder="username"> -->
    <input type="password" name="password" placeholder="password">
    <input type="submit">
</form> 