   <h1> Student Register</h1>
    <form action="/studentRegister" method="post">
    <input type="text" name="name" placeholder="name">
    <!-- <input type="text" name="username" placeholder="username"> -->
    <input type="password" name="password" placeholder="password">
    <input type="text" name="address" placeholder="address">
    <input type="text" name="City" placeholder="City">
    <input type="text" name="State" placeholder="State">
    <input type="text" name="Country" placeholder="Country">
    <input type="number" name="Pin" placeholder="Pin">
    <input type="number" name="scholarId" placeholder="Scholar Id">
    <input type="email" name="instituteEmail" placeholder="Instittue Email">
    <input type="email" name="personalEmail" placeholder="Personal Email">
    <input type="number" name="mobileNo" placeholder="Mobile No.">
    <input type="submit">
</form>